//- extends ../layout
//- block navi
nav.container-fluid
  div.row
    h1.mainTitle.text-center 
      a(href="/") SimpleBlog
  div.row.text-center
    div.btn-group.text-center.mainLinks
      div.btn-group
        a.btn.btn-default(href="/about") About
      div.btn-group
        a.btn.btn-default(href="/posts") Posts
      div.btn-group
        a.btn.btn-default(href="/users") Users
        
