extends ../layout

block content
    h1= title
    form(name="addtag", method="post")
        div.input
            span.label Title
            input(type="text", name="type")
        div.input
            span.label Content
            input(type="text", name="rating")
        div.actions
            button#btnSubmit(type="submit") submit
